.tab-bar {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--soft-blue-color);
    box-shadow: 0px 10px 13px -7px black, 31px 8px 2px -10px rgba(0,0,0,0);
    padding: var(--app-padding);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.tab-bar a {
    text-decoration: none;
    font-family: var(--app-font);
    font-size: 0.8rem;
}
  
.tab {
    flex: 1;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}
  
.tab:hover {
    background-color: var(--blue-color);
    border-radius: 0.5rem;
}

.active-tab {
    font-weight: bold;
    border-bottom: 2px solid var(--blue-color);
}

.logout {
    margin-right: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .tab-bar a {
        font-size: 0.6rem;
    }
}